<h1>Productos</h1>

<h2>Bienvenido {{first_name}} {{last_name}} a la sección de productos</h2>

<button id="logoutBtn" type="button">Cerrar sesión</button>

//producto1

    <h1>Cámara Sony a6600</h1>
    <p>La a6600 está repleta de funciones para ofrecerte lo que necesitas en casi cualquier situación que encuentres: AF rápido, estabilización de imagen estable y asombrosa calidad de la imagen, una batería de alta capacidad y captura de videos 4K HDR</p>
    
    <img src="/fotos/Sony-Alpha-a6600.jpeg" alt="Fotografía del Producto">

    <p>Stock: 10 unidades</p>

    <br>
    <br>

        <h1>Cámara Sony a7 IV</h1>
    <p>El sensor, el motor de procesamiento y el enfoque automático basado en inteligencia artificial más recientes se unen a la vanguardista tecnología de fotografía y filmación para crear una experiencia de imagen novedosa y dinámica. La a7 IV es la cámara híbrida ideal y ofrece fotos y películas impactantes, además de conectividad flexible para que transmitas tus imágenes en el momento.
    </p>
    
    <img src="/fotos/A7-4.jpeg" alt="Fotografía del Producto">

    <p>Stock: 10 unidades</p>



<script src="js/index.js"></script>